/* Global Styles
   NOTE: Any changes to Bootstrap styles can be
   made here or in scss files for each feature or component.
*/
html, body {
  font-family: 'Roboto', sans-serif;
}

.page-header {
  margin-top: 95px;
}

.jumbotron {
  background: #ffffff url("../images/tshirts01.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}
