/* Global Styles
   NOTE: Any changes to Bootstrap styles can be
   made here or in scss files for each feature or component.
*/
html, body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background: #ffffff url("../images/tshirts01.jpg") no-repeat center center;
  background-size: cover;
  height: 440px;
}
.page-header {
  margin-top: 95px;
  border-bottom: 0px;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
p {
  line-height: 20px;
}
footer {
  background-color: #222222;
  color: #636363;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 32px;
  width: 100%;
  p {
    line-height: 32px;
  }
}
