/* Primary SASS file */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Marck+Script);
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Cotton Images Colors */
/*------------ Fonts ------------*/
/* Animations */
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInSlide {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOutSlide {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
/* slide in from the bottom */
@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
/* slide out to the top */
@keyframes slideOutUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: .2;
  }
  to {
    transform: translateX(0);
    opacity: 1.0;
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Global Styles
   NOTE: Any changes to Bootstrap styles can be
   made here or in scss files for each feature or component.
*/
/* line 5, ../scss/globals/global.scss */
html, body {
  font-family: "Open Sans", sans-serif, sans-serif;
  min-height: 101%;
  font-size: 16px;
  padding-bottom: 60px;
}

/* line 12, ../scss/globals/global.scss */
.container {
  min-height: 101%;
}

/* line 16, ../scss/globals/global.scss */
.jumbotron {
  background: #ffffff url("../images/tshirts01.jpg") no-repeat center center;
  background-size: cover;
  height: 440px;
}

/* line 21, ../scss/globals/global.scss */
.page-header {
  margin-top: 80px;
  border-bottom: 0px;
}

/* line 25, ../scss/globals/global.scss */
h1 {
  font-size: 42px;
  text-transform: capitalize;
  margin-top: 20px;
}

/* line 30, ../scss/globals/global.scss */
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 34, ../scss/globals/global.scss */
p {
  line-height: 20px;
}

/* line 37, ../scss/globals/global.scss */
footer {
  background-color: #222222;
  color: #636363;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 32px;
  width: 100%;
}
/* line 45, ../scss/globals/global.scss */
footer p {
  line-height: 32px;
}

/*animate */
/* line 50, ../scss/globals/global.scss */
div[ng-view].ng-enter {
  animation: fadeIn 0.95s both ease-in;
  z-index: 8888;
}

/* line 55, ../scss/globals/global.scss */
div[ng-view].ng-leave {
  animation: fadeOut 0.35s both ease-out;
  z-index: 9999;
}

/* line 60, ../scss/globals/global.scss */
tr[ng-repeat].ng-enter {
  animation: fadeInSlide 0.25s both linear;
  z-index: 8888;
}

/* line 65, ../scss/globals/global.scss */
tr[ng-repeat].ng-leave {
  animation: fadeOutSlide 0.35s both linear;
  z-index: 9999;
}

/*
  about SCSS
  Styles can be set via:
  -- mark up: <about>
  -- attribute: <some-tag about>
  -- class: <some-tag class="some-class">
*/
/* line 10, ../features/about/about.scss */
about {
  display: block;
}

/*
  contacts SCSS
  Styles can be set via:
  -- mark up: <contacts>
  -- attribute: <some-tag contacts>
  -- class: <some-tag class="some-class">
*/
/* line 10, ../features/contacts/contacts.scss */
contacts {
  display: block;
}

/* line 19, ../features/contacts/contacts.scss */
.component-contacts h1 {
  color: #4ba9df;
}
/* line 23, ../features/contacts/contacts.scss */
.component-contacts .table-bordered {
  border-collapse: separate;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 6px;
}
/* line 29, ../features/contacts/contacts.scss */
.component-contacts th {
  color: #4ba9df;
  font-weight: 500;
  padding: 10px;
  font-size: 16px;
  line-height: 36px;
  height: 60px;
}
/* line 37, ../features/contacts/contacts.scss */
.component-contacts .table > thead > tr > th {
  vertical-align: middle;
}
/* line 40, ../features/contacts/contacts.scss */
.component-contacts .table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}
/* line 43, ../features/contacts/contacts.scss */
.component-contacts .button.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

/*
  chrome SCSS
  Styles can be set via:
  -- mark up: <chrome>
  -- attribute: <some-tag chrome>
  -- class: <some-tag class="some-class">
*/
/* line 10, ../components/chrome/chrome.scss */
chrome {
  display: block;
}

/*# sourceMappingURL=main.css.map */
