/*
  products SCSS
  Styles can be set via:
  -- mark up: <products>
  -- attribute: <some-tag products>
  -- class: <some-tag class="some-class">
*/

// mark up styles
products{
  display:block;
}

// attribute styles
[products]{}

// class styles
.component-products{
  .menu-panel {
    margin-bottom: 30px;
    padding: 16px;
    background: #dbdbdb;
    border-radius: 10px;
    border: 1px solid #666;
  }
  .menu-category {
    background: #444;
    margin-right: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    font-variant: small-caps;
    width: 80%;
    padding: 4px;
    display: inline-block;
    border-radius: 3px 20px 0 0;
  }
  .menu-detail {
    display:none;
    list-style: none;
    margin-top: 0px;
    font-size: 14px;
    line-height: 24px;
    background: #444;
    color: #fff;
    height: 160px;
    border-radius: 0 3px 10px 0px;
    overflow: auto;
    padding: 8px 2px;
  }
  ul {
    list-style: none;
    margin-top: 10px;
    line-height: 24px;
  }
  li {
    padding: 0 0 0 10px;
    font-size: 12px;
  }
  .arrangement-panel {
    background: #dbdbdb;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 1px 2px 4px #222;
    border-radius: 10px;
    border: 1px solid #666;
    // height: 310px;
  }
}
